langchain
langchain_community
langchain-text-splitters
langchain_groq
langchain_ollama
pypdf
unstructured
sentence-transformers
faiss-cpu
rank-bm25
uvicorn
fastapi
python-dotenv
streamlit
requests